body {
    background-color: black;
    width: 1300px;
    margin: 0 auto;
}

h1 {
    margin-left: 50px;
    color: yellow;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
}

h2 {
    color: yellow;
}

.contacts-title {
    margin-left: 30px;
    color: yellow;
}

.summary {
    margin-left: 30px;
    margin-bottom: 70px;
}

.summary-text {
    margin-left: 50px;
    width: 550px;
    margin-bottom: 50px;
}

.main-header {
    height: 100px;
}

.main-content {
    display: flex;
    flex-direction: row;
}

.left-column, .right-column {
    width: 50%;
    color: #fff;
}

.left-column {
    background-color: rgb(44, 80, 8);
}

.right-column {
    background-color: rgb(44, 80, 8);
}

.main-footer {
    height: 100px;
}

.top-line, .bottom-line {
    width: 1300px;
    height: 50px;
    background-color: yellow;
}

.bottom-line {
    margin-bottom: 0;
}

.job-title {
    color: #fff;
    font-size: 20px;
    padding-left: 25%;
}

.contacts {
    color:  #fff;
    margin-left: 30px;
    margin-bottom: 90px;
}

.skills {
    color: yellow;
}

.education {
    margin-bottom: 50px;
    margin-left: 30px;
}

.english-level {
    margin-left: 30px;
}

.social-icons {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-top: 0;
}

.social-icons a:hover {
    opacity: 0.6;
    cursor: pointer;
}

.person {
    display: flex;
    margin-top: 30px;
    margin-bottom: 65px;
    margin-left: 90px;
}

.main-footer {
    background-color: rgb(44, 80, 8);
}

